[defaults]
inventory          = inventory/aws_ec2.yaml
remote_user        = ubuntu
private_key_file   = ~/.ssh/aws-devops-key
host_key_checking  = False
retry_files_enabled = False
log_path           = ./ansible.log
stdout_callback    = yaml
roles_path         = roles

[inventory]
enable_plugins = amazon.aws.aws_ec2